@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    color: white;
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide.current{
    opacity: 1;
}

.slide .content{
    position: absolute;
    bottom: 60px;
    left: -600px;
    opacity: 0;
    width: 500px;
    background-color: rgba(255,255,255,0.75);
    color: #333;
    padding: 30px;

}
.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

button#pre {
    position: absolute;
    top: 50%;
    left: 20px;
}
button#next {
    position: absolute;
    top: 50%;
    right: 20px;
}

button {
    border: 2px solid #fff;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    padding: 12px 15px;
    outline: none;
}

button:hover {
    background-color: white;
    color: #333;
}


.slide:first-child{
    background: url('./img/slide1.jpg') no-repeat center  ;
    background-size: 100%;
}
.slide:nth-child(2){
    background: url('./img/slide2.jpg') no-repeat center center/cover;
}
.slide:nth-child(3){
    background: url('./img/slide3.jpg') no-repeat center center/cover;
}
.slide:nth-child(4){
    background: url('./img/slide4.jpg') no-repeat center center/cover;
}
.slide:nth-child(5){
    background: url('./img/slide5.jpg') no-repeat center center/cover;
}
